.main-container {
  display: flex;
  /*  justify-content: space-around;*/
}

/* cart container */
#cart-container {
  width: 30%;
  border: 1px solid red;
  /*  position: relative;*/
}

.cart {
  position: sticky;
  top: 30px;
  width: 100%;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* product container */
#product-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 10px;
  text-align: center;
  border: 1px solid blue;
}

.product {
  border: 1px solid gray;
  width: 48%;
  height: 500px;
}

.card-img {
  width: 100px;
  height: 50%;
}
